:root {
    --svg_wh: 50px;
    --gap: 10px;

    --card_width: 300px;
    --card_height: calc(var(--card_width) * 1.5);
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
    height: 100%;
    margin: 0;
}

.title_text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

body {
    background: #136F63;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

logo, header, content,
media_viewer, media_content,
media, media_group_content,
media_group, series {
    display: flex;
    gap: var(--gap);
}

header {
    width: calc(100% - 2 * var(--gap));
    background: rgba(0,0,0,0.2);
    align-items: center;
    padding: var(--gap);
    justify-content: space-between;
}

logo {
    justify-content: center;
    align-items: center;
}

logo_text {
    font-size: 45px;
}

logo_svg img {
    width: var(--svg_wh);
    height: var(--svg_wh);
}

media_content {
    position: relative;
    flex: 1;
    overflow: hidden;
}

content {
    position: absolute;
    flex-direction: column;
    inset: 0;
    padding: var(--gap);
    overflow-y: auto;
}










media_group {
    flex-direction: column;
}

media_group_title {
    background: rgba(255,255,255,0.2);
    width: fit-content;
    border-radius: var(--gap);
    padding-left: var(--gap);
    padding-right: var(--gap);
}

media_group_content {
    flex-direction: row;
    flex-wrap: wrap;
}






series {
    background: rgba(0,0,0,0.2);
    flex-direction: row;
    padding: var(--gap);
    border-radius: calc(var(--gap) * 2);
    overflow: auto;
}

media {
    background: rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

play_media {
    padding: var(--gap);
    position: absolute;
    width: calc(var(--card_width) - 2 * var(--gap));
    height: calc(var(--card_height) - 2 * var(--gap));
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 0.3s ease;
    border-radius: var(--gap);
}

play_media img {
    width: 40%;
}

play_media:hover {
    opacity: 1;
}

play_media.series {
    flex-direction: column;
    gap: var(--gap);
    overflow: auto;
    justify-content: safe center;
}

episode {
    display: flex;
    justify-content: center;
    background: rgba(255,255,255,0.2);
    width: 70%;
    border-radius: var(--gap);
    flex-shrink: 0;
    transition: all 0.3s ease;
}

episode:hover {
    background: rgba(0,0,255,0.3);
}

media_card > img {
    width: var(--card_width);
    height: var(--card_height);
    border-radius: var(--gap);
}

media:hover {
    transform: scale(1.025);
}


